---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const works = await getCollection("works");
    return works.map(entry => ({
        params: { slug: entry.data.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={`${entry.data.title} - Works`}>
<main class="w-full flex flex-col items-center gap-16 mt-24 mb-12 px-16 mx-auto">
    <section class="flex flex-col items-center gap-4 text-center max-w-3xl">
        <h1 class="highlight">{entry.data.title}</h1>
        <p class="opacity-80">{entry.data.description}</p>
    </section>
</main>
</Layout>