---
import { render } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const journeyEntries = await getCollection('journey');

const journeyItems = await Promise.all(
  journeyEntries.map(async (item) => {
    const { Content } = await render(item);
    return {
      ...item,
      Content: Content,
    };
  })
);

journeyItems.sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<Layout>
  <main class="w-full flex flex-col items-center gap-16 mt-24 mb-12 px-4 max-w-md md:max-w-xl mx-auto">
    
    <h1><i class="ph ph-sun-horizon"></i> A Journey Through Time...</h1>

    <div id="container" class="bg-gray-950/50 p-4">
      <ol class="relative border-l border-gray-50">
      
      {journeyItems.map((item) => {
        return (
          <li class="flex flex-col items-start mb-10 gap-2 ml-8 pr-8 py-4 border-dashed border-t border-orange-200">
            <div class="absolute w-2 h-2 bg-orange-300 rounded-full mt-1 -start-1"></div>
          
            <time class="mb-1 text-sm font-normal leading-none text-orange-200">
              {item.data.date}
            </time>
            
            <h2 class="text-lg font-semibold text-orange-300">
              {item.data.title}
            </h2>
            
            <div class="mb-2 text-base font-normal text-gray-50 prose prose-invert max-w-none space-y-4">
              <item.Content />
            </div>

            {item.data.link && (
              <a 
                href={item.data.link.url} 
                class="btn"
              >
                {item.data.link.text} <i class="ph ph-arrow-right"></i>
              </a>
            )}
          </li>
        )
      })}

      </ol>
    </div>
    
  </main>
</Layout>