.card {
    position: relative;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    animation: flip-back 10s infinite;
}

.card-front {
    animation: flip-front 10s infinite;
}

@keyframes flip-front {
    0%,
    25% {
        transform: rotateX(0deg);
    }

    50%,
    75% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes flip-back {
    0%,
    25% {
        transform: rotateX(-180deg);
    }
    50%,
    75% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}
