html,
body,
:root {
    font-family: "JetBrains Mono", sans-serif;
    color: var(--color-slate-100);
    background-color: var(--color-slate-950);
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-yellow-500);
}
