body {
    background-color: var(--color-gray-700);
    font-family: "JetBrains Mono", sans-serif;
    color: var(--color-gray-50);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-orange-400);
    transition: all 0.1s ease-in;
}
