html,
body {
    background-color: var(--color-background);
}

body {
    font-family: "JetBrains Mono", sans-serif;
    color: var(--color-gray-50);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-orange-400);
    transition: all 0.1s ease-in;
}

i {
    color: var(--color-orange-300);
}

img {
    pointer-events: none;
    user-select: none;
}

.btn {
    cursor: pointer;
    color: var(--color-gray-50);
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-600);
    padding: 0.5rem 1rem;
    transition: all 0.1s ease-in;
}

.btn i {
    color: var(--color-gray-300);
}

.btn:hover i {
    color: var(--color-orange-400);
}

.highlight {
    padding-inline: 1rem;
    background-color: color-mix(
        in oklab,
        var(--color-gray-950) 50%,
        transparent
    );
}

@keyframes modal {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}