.parallax-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    position: relative;
}

.parallax-layer {
    image-rendering: pixelated;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-style: preserve-3d;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    will-change: transform;
}

.parallax-layer:last-of-type {
    box-shadow: 0 200vh 0 200vh #0d0d1e;
}

.parallax-layer:last-of-type::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, transparent 50%, #0d0d1e 100%);
    pointer-events: none;
}

.parallax-layer-1 {
    background-image: url("/images/bg/1.png");
    transform: translateZ(-10px) scale(11.2);
}

.parallax-layer-2 {
    background-image: url("/images/bg/2.png");
    transform: translateX(-200%) translateZ(-10px) scale(11.2);
}

.parallax-layer-3 {
    background-image: url("/images/bg/3.png");
    transform: translateZ(-3px) scale(5.2);
}

.parallax-layer-4 {
    background-image: url("/images/bg/4.png");
    transform: translateZ(-2px) scale(4.2);
}