---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title={`Page Not Found (or not ready yet)`}>
<main class="page-container">
    <section class="flex flex-col items-center gap-4 text-center">
        <h1 class="highlight"><i class="ph ph-warning"></i> This page is not ready yet!</h1>
    </section>

    <img src="/images/wip-dog.png" alt="Work in Progress Dog" class="w-64 mt-8" style="image-rendering: pixelated;" />

    <h2 class="max-w-md">At some point this may or may not get finished...</h2>
    <h3>Who cares, anyways? There's more to find out there ;)</h3>
</main>
</Layout>