---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<main class="w-full flex flex-col items-center gap-16 mt-24 px-8 max-w-2xl mx-auto">
	<section id="hero" class="flex flex-col items-center gap-8">
		<section id="logos" class="flex gap-8 items-center m-4">
			<img src="/images/logo_base.png" width="96" alt="Logo" />
			<img src="/images/logo_interactive.png" width="64" alt="Logo" />
		</section>

		<h1>Software & Digital Media Creator</h1>

		<p>Based in Varna, Bulgaria.</p>
	</section>

	<section id="projects" class="flex flex-col items-center gap-8">
		<h1>Works</h1>
		<ul class="flex flex-col gap-2 items-center">
			<li>Operation: Reboot</li>
			<li>GIFs in Chat</li>
			<li>World Flags</li>
			<li>Space Shooter</li>
		</ul>
	</section>

	<section id="contact" class="flex flex-col items-center gap-8">
		<h1>Contact</h1>
		<ul class="flex flex-col gap-2 items-center">
			<li><a href="mailto:vakisbeats@gmail.com">vakisbeats@gmail.com</a></li>
			<li><a href="https://www.github.com/vakisddot">GitHub</a></li>
			<li><a href="https://www.instagram.com/vakisddot">Instagram</a></li>
			<li><a href="https://www.youtube.com/@VakisInteractive">YouTube</a></li>
			<li><a href="https://www.tiktok.com/@VakisInteractive">TikTok</a></li>
		</ul>
	</section>
	</main>
	
</Layout>