---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<main class="w-full flex flex-col items-center gap-16 mt-24 mb-12 px-8 max-w-2xl mx-auto">
	<section id="hero" class="flex flex-col items-center gap-8">
		<section id="logos" class="flex gap-8 items-center p-4">
			<img src="/images/logo_interactive.png" width="64" alt="Logo" />
			<img src="/images/logo_base.png" width="128" alt="Logo" />
		</section>

		<div class="flex flex-col items-center gap-4">
			<h1><i class="ph ph-sunglasses"></i> Software & Digital Media Creator</h1>

			<p>Based in Varna, Bulgaria.</p>
		</div>
		
	</section>

	<section id="projects" class="flex flex-col items-center gap-8">
		<h1><i class="ph ph-highlighter"></i> Works</h1>
		<ul class="flex flex-col gap-2 items-center px-8 border-orange-300 border-dashed border-x-2 rounded-t-2xl">
			<li><a href="https://operation-reboot.onrender.com/">Operation: Reboot</a></li>
			<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2960675504">GIFs in Chat</a></li>
			<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2858293378">World Country Flags</a></li>
			<li><a href="#">Space Shooter</a></li>
		</ul>

		<a href="/projects" class="btn"
		>
			See More <i class="ph ph-arrow-right"></i>
		</a>
	</section>

	<section id="contact" class="flex flex-col items-center gap-8">
		<h1><i class="ph ph-at"></i> Contact</h1>
		<ul class="flex flex-col gap-2 items-center px-8 border-orange-300 border-dashed border-x-2 rounded-t-2xl">
			<li><a href="mailto:vakisbeats@gmail.com"><i class="ph ph-envelope"></i> vakisbeats@gmail.com</a></li>
			<li><a href="https://www.github.com/vakisddot"><i class="ph ph-github-logo"></i> GitHub</a></li>
			<li><a href="https://www.instagram.com/vakisddot"><i class="ph ph-instagram-logo"></i> Instagram</a></li>
			<li><a href="https://www.youtube.com/@VakisInteractive"><i class="ph ph-youtube-logo"></i> YouTube</a></li>
			<li><a href="https://www.tiktok.com/@VakisInteractive"><i class="ph ph-tiktok-logo"></i> TikTok</a></li>
		</ul>
	</section>
	</main>
	
</Layout>