<div id="parallax-bg" class="absolute inset-0 -z-10 overflow-hidden">
<svg class="w-screen min-h-fit" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="560" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1440 560">
    <g mask="url(&quot;#SvgjsMask1120&quot;)" fill="none">
        <rect width="1440" height="520" x="0" y="0" fill="rgba(3, 7, 18, 1)"></rect>
        <path d="M1488 520L0 520 L0 328.75Q45.23 253.98, 120 299.2Q149.63 256.82, 192 286.45Q243.56 218, 312 269.56Q388.06 225.63, 432 301.69Q486.88 284.56, 504 339.44Q551.44 266.88, 624 314.32Q658.53 228.85, 744 263.38Q786.64 234.02, 816 276.67Q909.19 249.86, 936 343.05Q960.23 295.28, 1008 319.51Q1058.28 249.79, 1128 300.07Q1179.12 231.19, 1248 282.31Q1337.1 251.4, 1368 340.5Q1415.72 268.22, 1488 315.94z" fill="rgba(17, 24, 39, 1)"></path>
        <path d="M1512 520L0 520 L0 341.94Q30.87 300.81, 72 331.69Q160.37 300.06, 192 388.43Q260.04 336.47, 312 404.5Q331.18 351.68, 384 370.86Q399.64 314.5, 456 330.15Q502.67 304.81, 528 351.48Q593.09 296.56, 648 361.65Q692.44 286.09, 768 330.53Q855.38 297.9, 888 385.28Q958.38 335.65, 1008 406.03Q1009.16 335.19, 1080 336.35Q1144.86 329.21, 1152 394.06Q1191.74 313.81, 1272 353.55Q1343.51 305.06, 1392 376.58Q1435.47 300.05, 1512 343.53z" fill="rgba(31, 41, 55, 1)"></path>
        <path d="M1488 520L0 520 L0 475.94Q24.21 380.15, 120 404.37Q166.18 378.55, 192 424.72Q248.21 408.94, 264 465.15Q287.5 416.65, 336 440.16Q360.55 392.71, 408 417.25Q458.99 348.24, 528 399.22Q616.81 368.03, 648 456.84Q699.74 388.58, 768 440.32Q822.74 423.06, 840 477.8Q848.3 414.1, 912 422.39Q957.71 348.1, 1032 393.81Q1098.9 340.71, 1152 407.61Q1198.14 381.75, 1224 427.89Q1282.95 414.84, 1296 473.79Q1349.27 407.06, 1416 460.34Q1426.36 398.69, 1488 409.05z" fill="rgba(55, 65, 81, 1)"></path>
        <path d="M1488 520L0 520 L0 475.57Q47.08 450.65, 72 497.73Q121.39 475.12, 144 524.51Q145.89 454.4, 216 456.29Q277.46 445.75, 288 507.21Q337.79 485, 360 534.78Q390.4 493.18, 432 523.59Q462.9 482.49, 504 513.39Q526.42 463.81, 576 486.23Q661.33 451.56, 696 536.88Q719.71 488.59, 768 512.3Q800.52 424.82, 888 457.34Q930.91 428.25, 960 471.16Q1006.61 445.77, 1032 492.38Q1073.97 462.35, 1104 504.31Q1157.06 485.37, 1176 538.42Q1227.52 469.94, 1296 521.46Q1306.88 460.35, 1368 471.23Q1434.01 417.25, 1488 483.26z" fill="rgba(55, 65, 81, 1)"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1120">
            <rect width="1440" height="520" fill="#ffffff"></rect>
        </mask>
    </defs>
</svg>
</div>
<script>
const parallaxBg = document.getElementById('parallax-bg');

const scrollSpeed = 0.5;

if (!parallaxBg) {
    throw new Error('Parallax background not found');
}

window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    
    const translateValue = scrollY * scrollSpeed;

    parallaxBg.style.transform = `translateY(${translateValue}px)`;
});
</script>