<header>
    <nav class="flex justify-center w-full p-4 bg-gray-900 fixed top-0 z-10">
        <ul class="flex gap-12 w-full justify-center items-center">
            <li><a href="/">Home</a></li>
            <li><a href="/journey">Journey</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</header>